{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h4 class="page-head-line">A B O U T &nbsp; U S</h4>
  </div>  
</div>

<div class="row">
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-one">
          <h5>Marcus Alexander Todd</h5>
          <h5><a href="mailto:matodd@andrew.cmu.edu">matodd@andrew.cmu.edu</a></h5>
          <img src="../../static/img/marcus.jpeg" alt="Marcus">
          <h4>Back-end developer</h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-two">
	    <h5>Victoria (Toya) Rosuello</h5>
	    <h5><a href="mailto:vdr@andrew.cmu.edu">vdr@amdrew.cmu.edu</a></h5>
	    <img src="../../static/img/toya.jpeg" alt="Toya">
	    <h4>Full-stack developer</h4>
	</div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-three">
	    <h5>Judy Mai</h5>
	    <h5><a href="mailto:judym@andrew.cmu.edu">judym@andrew.cmu.edu</a></h5>
            <img src="../../static/img/judy.jpeg" alt="Judy">
            <h4>Front-end developer</h4>
	</div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-four">
	    <h5>Vivian Wang</h5>
	    <h5><a href="mailto:vivianwa@andrew.cmu.edu">vivianwa@andrew.cmu.edu</a></h5>
            <img src="../../static/img/vivian.jpeg" alt="Vivian">
            <h4>Full-stack developer</h4>
	</div>
    </div>
</div> <!--row-->
    

{% endblock %}
