{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h4 class="page-head-line">About Us</h4>
  </div>  
</div>

<!--<div class="row">
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-one">
        <h5>Marcus Alexander Todd</h5>
        
	</div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-two">
	    <h5>Victoria (Toya) Rosuello</h5>
	</div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-three">
	    <h5>Judy Mai</h5>
	</div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-four">
	    <h5>Vivian Wang</h5>
	</div>
    </div>
</div>-->
<div class="row">
    <div class="image">
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-one">
            <h2><span>Marcus Alexander Todd</span></h2>
        <img src="../../static/img/marcus.jpeg" alt="Marcus">
	</div>
    </div>
    </div>
    <div class="image">
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-two">
            <h2><span>Victoria (Toya) Rosuello</span></h2>
        <img src="../../static/img/toya.jpeg" alt="Toya">
    </div>
	</div>
    </div>
    <div class="image">
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-three">
        <h2><span>Judy Mai</span></h2>
        <img src="../../static/img/judy.jpeg" alt="Judy">
    </div>
	</div>
    </div>
    <div class="image">
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-four">
        <h2><span>Vivian Wang</span></h2>
        <img src="../../static/img/vivian.jpeg" alt="Vivian">
	</div>
    </div>
    </div>
</div>
    

{% endblock %}
