{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h4 class="page-head-line">A B O U T &nbsp; U S</h4>
  </div>  
</div>

<!--<div class="row">
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-one">
        <h5>Marcus Alexander Todd</h5>
        
	</div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-two">
	    <h5>Victoria (Toya) Rosuello</h5>
	</div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-three">
	    <h5>Judy Mai</h5>
	</div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-four">
	    <h5>Vivian Wang</h5>
	</div>
    </div>
</div>-->
<div class="row">
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-one">
            <h2>Marcus Alexander Todd</h2>
        <img src="../../static/img/marcus.jpeg" alt="Marcus">
        <h4>Backend
            <a href="mailto:matodd@andrew.cmu.edu">matodd@andrew.cmu.edu</a></h4>
    </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-two">
            <h2>Victoria (Toya) Rosuello</h2>
        <img src="../../static/img/toya.jpeg" alt="Toya">
        <h4>Full-stack <br>
            <a href="mailto:vdr@andrew.cmu.edu">vdr@andrew.cmu.edu</a></h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-three">
        <h2>Judy Mai</h2>
        <img src="../../static/img/judy.jpeg" alt="Judy">
        <h4>Frontend
             <a href="mailto:judym@andrew.cmu.edu">judym@andrew.cmu.edu</a></h4>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="dashboard-div-wrapper bk-clr-four">
        <h2>Vivian Wang</h2>
        <img src="../../static/img/vivian.jpeg" alt="Vivian">
        <h4>Full-stack
             <a href="mailto:vivianwa@andrew.cmu.edu">vivianwa@andrew.cmu.edu</a></h4>
        </div>
    </div>
</div>
    

{% endblock %}
