{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
      <h4 class="page-head-line">Home Page</h4>
    </div>  
</div>

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-one">
            <i class="fa fa-venus dashboard-div-icon" ></i>
            <h5>Create Room</h5>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Create</button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" <!--style="display: none;"-->>
                <div class="modal-dialog">
                    <div class="modal-content"> 
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title" id="myModalLabel">Create room</h4>
                        </div> <!--modal header-->
    
			<div class="modal-body">
			    <form>
			        <div class="form-group">
				    <label for="name">Room name</label>
				    <input type="text" class="form-control" id="roomName">
				    <label for="name">Number of songs on playlist</label>
				    <input type="text" class="form-control" id="roomName">
				</div>
			    </form>
			</div> <!-- modal body-->

			<div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <a class="btn btn-primary" href="{% url 'room' %}">Save changes</a>
                        </div> <!-- modal footer-->
		    </div> <!-- modal content-->
                </div> <!-- modal dialog-->
            </div> <!--modal fade-->

        </div> <!--dashboard-->

        <div class="dashboard-div-wrapper bk-clr-two">
            <i  class="fa fa-edit dashboard-div-icon" ></i>
            <h5>Join Room</h5>
            <input type="text" class="form-control" placeholder="Enter pin" />
        </div> <!-- dashboard-->

      </div> <!--col-md-3-->
  
    <div class="col-md-1"></div>
  
    <div class="col-md-6">
        <div class="notice-board">
            <div class="panel panel-default">
              <div class="panel-heading">
		  Current Rooms 
		  <div class="pull-right" >
		      <div class="dropdown">
			  <button class="btn btn-success dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			      <span class="glyphicon glyphicon-cog"></span>
			      <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Refresh</a></li>
			      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delete</a></li>
			  </ul>
		      </div><!--dropdown-->
		  </div> <!--pull-right-->
              </div> <!--panel-heading-->

              <div class="panel-body">
		  <ul>
		      <li>
		          <a href="{% url 'room' %}">
			      <span class="glyphicon glyphicon-align-left text-success" ></span> 
			      414 Musics
			      <span class="label label-warning" > Just now </span>
			  </a>
		      </li>
		      <li>
			  <a href="{% url 'room' %}">
			      <span class="glyphicon glyphicon-info-sign text-danger" ></span>  
			      Marcus's Crib
			      <span class="label label-info" > 2 min chat</span>
			  </a>
		      </li>
		      <li>
			  <a href="{% url 'room' %}">
			      <span class="glyphicon glyphicon-comment  text-warning" ></span>  
			      Tartanhacks jam
			      <span class="label label-success" >GO ! </span>
			  </a>
		      </li>
		      <li>
			  <a href="{% url 'room' %}">
			      <span class="glyphicon glyphicon-edit  text-danger" ></span>  
			      WRCT Station
			      <span class="label label-success" >Let's have it </span>
			  </a>
		      </li>
		  </ul>
	      </div><!--panel body-->
	    </div><!--panel panel-default-->
	</div><!--notice-board-->
	<hr />
    </div><!--col-md-6-->
</div> <!--row-->

{% endblock %}
