{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
      <h4 class="page-head-line">D A S H B O A R D</h4>
    </div>  
</div>

<div class="row" id="dashboard">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-one">
            <i class="fa fa-venus dashboard-div-icon" ></i>
            <h5>C R E A T E &nbsp; R O O M</h5>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Create</button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!--style="display: none;"-->
                <div class="modal-dialog">
                    <div class="modal-content"> 
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title" id="myModalLabel">Create room</h4>
                        </div> <!--modal header-->
    
			<div class="modal-body">
			    <form method="post" action="{% url 'make_room' %}">
			        <div class="form-group">
				    <label for="room_name">Room name</label>
				    <input type="text" class="form-control" name="room_name" />
				    <label for="num_songs">Number of songs on playlist</label>
				    <input type="text" class="form-control" name="num_songs" />
				    <br>
                                    <input type="submit" class="btn btn-primary"value="Make room!">
                                    {% csrf_token %}
				</div>
			    </form>
			</div> <!-- modal body-->
<!--
			<div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <a class="btn btn-primary" href="">Create room</a>
                        </div> <!-- modal footer-->

		    </div> <!-- modal content-->
                </div> <!-- modal dialog-->
            </div> <!--modal fade-->

        </div> <!--dashboard-->

        <div class="dashboard-div-wrapper bk-clr-two">
            <i  class="fa fa-edit dashboard-div-icon" ></i>
            <h5>J O I N &nbsp; R O O M</h5>
            <form method="post" action="{% url 'join_room' %}">
                <div class="form-group">
                    <input type="text" class="form-control" id="join" name="pin" placeholder="Enter pin" />
		    <input type="submit" class="btn btn-info btn-sm" value="Join room!" />
                    {% csrf_token %}
                </div>
            </form>
        </div> <!-- dashboard-->

      </div> <!--col-md-3-->
  
    <div class="col-md-6">
        <div class="notice-board">
            <div class="panel panel-default">
              <div class="panel-heading">
		  H O S T I N G &nbsp; R O O M S
              </div> <!--panel-heading-->

              <div class="panel-body">
		  <ul>
                  {% for name,pin in hosted_rooms%}
                    <li>
                      <a href="{% url 'room' pin%}">
                      <span class="glyphicon glyphicon-align-left text-success" ></span> 
                      {{name}}
                      </a>
                    </li>
                  {% endfor %}
                  </ul>
	      </div><!--panel body-->
	    </div><!--panel panel-default-->
	</div><!--notice-board-->
    </div><!--col-md-6-->

    <div class="col-md-6">
        <div class="notice-board">
            <div class="panel panel-default">
              <div class="panel-heading">
		  J O I N E D &nbsp; R O O M S
              </div> <!--panel-heading-->

              <div class="panel-body">
                  <ul>
                  {% for name,pin in guest_rooms%}
                    <li>
                      <a href="{% url 'room' pin%}">
                      <span class="glyphicon glyphicon-align-left text-success" ></span> 
                      {{name}}
                      </a>
                    </li>
                  {% endfor %}

		  </ul>
	      </div><!--panel body-->
	    </div><!--panel panel-default-->
	</div><!--notice-board-->
    </div><!--col-md-6-->
    
</div> <!--row-->

{% endblock %}
