{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; {% url 'index' %} " />
{% endif %}

<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Login to get started</h4>
    </div>  
</div>

{% if form.errors %}
{% for error in form.errors %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
          <p id="{{error}}"></p>
          <script>
            if ("{{error}}" === "username")
              document.getElementById("{{error}}").innerHTML = "Username is required.";
            else if ("{{error}}" === "password")
              document.getElementById("{{error}}").innerHTML = "Password is required.";
            else if ("{{error}}" === "__all__")
              document.getElementById("{{error}}").innerHTML = "Incorrect username and password combination.";
          </script>
        </div>
    </div>    
</div>
{% endfor %}
{% endif %}
         
<div class="row">
    <div class="col-md-6">
      <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        <label id="title">Enter Username : </label>
        <br>
        <input type="text" class="form-control" id="id_username" name="username" />
        <label id="title">Enter Password :  </label>
        <input type="password" class="form-control" id="id_password" name="password" />
	<br>
        <input type="submit" value="Log in!" class="btn btn-info"/> 
        {% csrf_token %}
      </form>
      <hr />
      <label id="title">Don't have an account?</label>
      <br>
      <a href="{% url 'register' %}" class="btn btn-default">Register</a>
    </div>

    <div class="col-md-6">
      <div class="alert alert-info">
        SmartDJ is a webapp that lets you and your friends collaborate on a music playlist. All you have to do is tell us what music you enjoy.
        <br />
        <ul>
          <li>
	    Easy to use 
          </li>
          <li>
            Cute penguin logo
          </li>
          <li>
            Free
          </li>
        </ul>
        
      </div> <!--alert info -->
      
      <div class="alert alert-success">
        <strong> Instructions To Use:</strong>
        <ul>
          <li>
            Just sign up
          </li>
          <li>
            Link your spotify account
          </li>
          <li>
            And/Or manually tell us what kind of songs you'd like to hear
          </li>
          <li>
            Make a room and link your friends
          </li>
          <li>
            Now you have your collaborative playlist
          </li>
        </ul>
      </div> <!--alert alert-success-->
    </div><!--col-->
    
</div> <!--row-->

{% endblock %}

