{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Preferences Page</h4>
    </div>  
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              Likes
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
			        <td><td> 
                                <th>Song Title</th>
                                <th>Artist</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
			        <td><td> 
                                <td>Love Story</td>
                                <td>Taylor Swift</td>
                            </tr>
                            <tr>
			        <td><td> 
				<td>Stitches</td>
                                <td>Shawn Mendes</td>
                            </tr>
                            <tr>
			        <td><td> 
				<td>Love Yourself</td>
                                <td>Justin Bieber</td>
                            </tr>
                            <tr>
			        <td><td> 
                                <td>Hello</td>
                                <td>Adele</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--table response -->
            </div><!--panel body -->

        </div> <!-- panel default -->
    </div> <!-- col-->

   <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              Dislikes
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
			        <td><td> 
                                <th>Song Title</th>
                                <th>Artist</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
			        <td><td> 
                                <td>Love Story</td>
                                <td>Taylor Swift</td>
                            </tr>
                            <tr>
			        <td><td> 
				<td>Stitches</td>
                                <td>Shawn Mendes</td>
                            </tr>
                            <tr>
			        <td><td> 
				<td>Love Yourself</td>
                                <td>Justin Bieber</td>
                            </tr>
                            <tr>
			        <td><td> 
                                <td>Hello</td>
                                <td>Adele</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--table response -->
            </div><!--panel body -->

        </div> <!-- panel default -->
    </div> <!-- col-->

</div> <!-- row -->

<div class="row">

        <form>
	    <div class="form-group">
	        <label for="exampleInput">Form Title</label>
		<input type="text" class="form-control" id="exampleInput" placeholder="placeholder text">
	    </div> <!-- form-group-->
	</form>
	<button type="submit" class="btn btn-default">Submit</button>

</div> <!-- row-->

{% endblock %}
