{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Preferences Page</h4>
    </div>  
</div>

<div class="row">
    <form method="post" action="{% url 'add_song' %}">
      <label id="title">Add preference</label>
        <div class="form-group">
            {{form}}
        </div> <!-- form-group-->
	   <input type="submit" class="btn btn-info" value="Submit"/>
       {% csrf_token %}
    </form>
</div> <!-- row-->
<br>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              L I K E S
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Song Title</th>
                                <th>Artist</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song,artist in liked_songs%}
                                <tr>
                                    <td>{{song}}</td>
                                    <td>{{artist}}</td>
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!--table response -->
            </div><!--panel body -->

        </div> <!-- panel default -->
    </div> <!-- col-->

   <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              D I S L I K E S
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Song Title</th>
                                <th>Artist</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song,artist in disliked_songs%}
                                <tr>
                                    <td>{{song}}</td>
                                    <td>{{artist}}</td>
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!--table response -->
            </div><!--panel body -->

        </div> <!-- panel default -->
    </div> <!-- col-->

</div> <!-- row -->


{% endblock %}
