{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; {% url 'index' %} " />
{% endif %}

<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Register an account</h4>
    </div>  
</div>

{% if errors %}
{% for error in errors %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
	  {{error}}
        </div>
    </div>    
</div>
{% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-6">
      <form method="post" action="{% url 'register' %}">
          <label id="title">Enter Username : </label>
          <input type="text" class="form-control" name="username" value="{{username}}" />
          <label id="title">Enter Password:  </label>
          <input type="password" class="form-control" name="password1"/>
          <label id="title">Confirm Password: </label>
          <input type="password" class="form-control" name="password2"/>
	  <br>
          <input type="submit" class="btn btn-info" value="Register"/>
          {% csrf_token %}
      </form>
      <hr />
      <label id="title">Already have an account?</label> 
      <br><a href="{% url 'login' %}" class="btn btn-default">Log in!</a>
    </div>

    <div class="col-md-6">
        <div class="alert alert-info">
          This is a free bootstrap admin template with basic pages you need to craft your project. 
          Use this template for free to use for personal and commercial use.
          <br />
          <strong> Some of its features are given below :</strong>
          <ul>
              <li>
		Responsive Design Framework Used
              </li>
              <li>
                Easy to use and customize
              </li>
              <li>
                Font awesome icons included
              </li>
              <li>
                Clean and light code used.
              </li>
          </ul>
          
        </div> <!--alert info -->
        
	<div class="alert alert-success">
            <strong> Instructions To Use:</strong>
            <ul>
                <li>
                  Lorem ipsum dolor sit amet ipsum dolor sit ame
                </li>
                <li>
                  Aamet ipsum dolor sit ame
                </li>
                <li>
                  Lorem ipsum dolor sit amet ipsum dolor
                </li>
                <li>
                  Cpsum dolor sit ame
                </li>
            </ul>
        </div> <!--alert alert-success-->
    </div><!--col-->

</div> <!--row-->

{% endblock %}

