{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; {% url 'index' %} " />
{% endif %}

<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Register an account</h4>
    </div>  
</div>

{% if errors %}
{% for error in errors %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
	  {{error}}
        </div>
    </div>    
</div>
{% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-6">
      <form method="post" action="{% url 'register' %}">
          <label id="title">Enter Username : </label>
          <input type="text" class="form-control" name="username" value="{{username}}" />
          <label id="title">Enter Password:  </label>
          <input type="password" class="form-control" name="password1"/>
          <label id="title">Confirm Password: </label>
          <input type="password" class="form-control" name="password2"/>
	  <br>
          <input type="submit" class="btn btn-info" value="Register"/>
          {% csrf_token %}
      </form>
      <hr />
      <label id="title">Already have an account?</label> 
      <br><a href="{% url 'login' %}" class="btn btn-default">Log in!</a>
    </div>
    
    <div class="col-md-6">
      <div class="alert alert-info">
        SmartDJ is a webapp that lets you and your friends collaborate on a music playlist. All you have to do is tell us what music you enjoy.
        <br />
        <ul>
          <li>
	    Easy to use 
          </li>
          <li>
            Cute penguin logo
          </li>
              <li>
		Free
              </li>
        </ul>
        
      </div> <!--alert info -->
      
      <div class="alert alert-success">
        <strong> Instructions To Use:</strong>
        <ul>
          <li>
            Just sign up
          </li>
          <li>
            Link your spotify account
          </li>
          <li>
            And/Or manually tell us what kind of songs you'd like to hear
          </li>
          <li>
            Make a room and link your friends
          </li>
          <li>
            Now you have your collaborative playlist
          </li>
        </ul>
      </div> <!--alert alert-success-->
    </div><!--col-->
</div><!--row-->
{% endblock %}

