{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-7">
    <h4 class="page-head-line">Room: WRCT 88.3</h4>
    <h5>Host: Marcus Todd</h5>
    <h5>Current Song: </h5>
    <h5>Previous Song: </h5>
  </div>  

  <div class="col-md-5">
    <h4 class="page-head-line">Requests</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
		    <td><td> 
                    <th>Song Title</th>
                    <th>Artist</th>
                </tr>
            </thead>
            <tbody>
                <tr>
		    <td><td> 
                    <td>You Belong With Me</td>
                    <td>Taylor Swift</td>
                </tr>
                <tr>
		    <td><td> 
                    <td>Love Story</td>
                    <td>Taylor Swift</td>
                </tr>
	    </tbody>
	</table>
    </div><!--table-->
  </div>

</div><!--row-->

{% endblock %}
