{% extends 'smart_dj/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-7">
      <h4 class="page-head-line">R O O M: {{room_name}}</h4>
      <div id="white-container">
	<h4><strong>Host</strong>: {{host}}</h4>
	<h4><strong>Pin</strong>: {{pin}}</h4>
	Give pin to guests to enter this room!<br>
	<br>
	<h5>Current Song:</h5>
	<iframe src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
	<h5>Previous Song:</h5>
      </div> <!--whitecontainer-->
  </div>  

  <div class="col-md-5">
    <h4 class="page-head-line">Requests</h4>
    <div class="table-responsive" id="white-container">
        <table class="table table-hover">
            <thead>
                <tr>
		    <td><td> 
                    <th>Song Title</th>
                    <th>Artist</th>
                </tr>
            </thead>
            <tbody>
                <tr>
		    <td><td> 
                    <td>You Belong With Me</td>
                    <td>Taylor Swift</td>
                </tr>
                <tr>
		    <td><td> 
                    <td>Love Story</td>
                    <td>Taylor Swift</td>
                </tr>
	    </tbody>
	</table>
    </div><!--table-->
  </div>

</div><!--row-->

{% endblock %}
